<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="shortcut icon" href="{{ "/favicon.ico" | prepend: site.baseurl | prepend: site.url }}" />
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<div class="topnav">
				<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/projects">Projects</a></li>
					<li><a href="/blog">Blog</a></li>
				</ul>
				</nav>
			</div>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
				<li><a class="grey" href="https://www.linkedin.com/in/fawaz-dabbaghie-798749106/">Linked in</a></li>
				<li><a class="grey" href="https://github.com/fawaz-dabbaghieh">Github</a></li>
	        		<li><a class="grey" href="mailto:fawaz.dabbaghieh@gmail.com">E-mail</a></li>
				</ul>
			</footer>
		</body>
	</html>
